<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first website</title>
</head>
<body>
    <h1>This is an h1 heading</h1>
    <h2>This is an h2 heading</h2>
    <h3>This is an h3 heading</h3>
    <h4>This is an h4 heading</h4>
    <h5>This is an h5 heading</h5>
<!--    <br> line break-->
<!--    <hr> horizontal line-->
<!--    <pre></pre> pre-formated text-->
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate ex
        facilis hic iure magni modi quisquam sit unde. Hic non omnis quo. Alias animi
        commodi, deserunt ex ipsa ut.
    </p>
</body>
</html>